* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

.wrapper {
  background-color: #121212;
  color: #eee;
  min-height: 100vh;
  text-align: center;
  padding: 40px 80px;
}

.page-title {
  padding: 40px;
  text-transform: uppercase;
  font-family: 'Satisfy', cursive;
  font-size: 30px;
  text-transform: capitalize;
}

section {
  background-color: #fff;
  color: #727272;
  width: 70%;
  margin: 20px auto;
  padding: 30px;
}

.section-title {
  padding-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: #34342a
}

/*===============================================================*/

/* General Facebook Button styles */
.facebook-button button {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 2px;
}

/* Facebook Main Button styles */
.facebook-button button.main {
  background-color: #1771E6;
  color: #fff;
  border: 1px solid #1771E6;
  box-shadow: inset 0 1px 0 0 #04070c;
  text-shadow: 0 1px 0 #3359a5;
}

.facebook-button button.main:hover {
  background-color: #2b54a7;
}

.facebook-button button.main:active {
  background-color: #1d4698;
}

/* Facebook Dark Button styles */
.facebook-button button.dark {
  background-color: transparent;
  color: #3a3b3c;
  border: 1px solid #3a3b3c;
}

.facebook-button button.dark:hover {
  background-color: #3a3b3c;
  color: #a8b3b8;
}

.facebook-button button.dark:active {
  background-color: #d8dade;
  border-color: #d8dade;
}

/* Facebook Light Button styles */
.facebook-button button.light {
  background-color: #f6f7f9;
  color: #4b4756;
  border: 1px solid #ced0d4;
}

.facebook-button button.light:hover {
  background-color: #e9ebee;
}

.facebook-button button.light:active {
  background-color: #d8dade;
  border-color: #d8dade;
}


/*================================================================*/

/* General Twitter Button styles */
.twitter-button button {
  padding: 8px 45px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 30px;
}

/* Twitter Main Button styles */
.twitter-button button.main {
  background-color: #28a1f2;
  color: #fff;
  border: 1px solid #28a1f2;
  box-shadow: inset 0 1px 0 0 #04070c;
  text-shadow: 0 1px 0 #3359a5;
}

.twitter-button button.main:hover {
  background-color: #2391DA;
}

.twitter-button button.main:active {
  background-color: #1d4698;
}

/* twitter Light Button styles */
.twitter-button button.light {
  background-color: #f6f7f9;
  color: #2391DA;
  border: 1px solid #2391DA;
}

.twitter-button button.light:hover {
  background-color: #E8F5FE;

}

.twitter-button button.light:active {
  background-color: #d8dade;
  border-color: #d8dade;
}