* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

button {
	outline: none;
	cursor: pointer;
	margin: 10px 5px;
}

.wrapper {
  background-color: #121212;
  color: #eee;
  min-height: 100vh;
  text-align: center;
  padding: 40px 80px;
}

.page-title {
  padding: 40px;
  text-transform: uppercase;
  font-family: 'Satisfy', cursive;
  font-size: 30px;
  text-transform: capitalize;
}

section {
  background-color: #fff;
  color: #727272;
  width: 70%;
  margin: 20px auto;
  padding: 30px;
}

.section-title {
  padding-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: #34342a
}

/*=============
Facebook Button
===============*/

/* General Facebook Button styles */
.facebook-button button {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 2px;
}

/*== Facebook Main Button styles ==*/
.facebook-button button.main {
  background-color: #1771E6;
  color: #fff;
  border: 1px solid #1771E6;
  box-shadow: inset 0 1px 0 0 #04070c;
  text-shadow: 0 1px 0 #3359a5;
}

.facebook-button button.main:hover {
  background-color: #2b54a7;
}

.facebook-button button.main:active {
  background-color: #1d4698;
}

/*== Facebook Dark Button styles ==*/
.facebook-button button.dark {
  background-color: #3a3b3c;
  color: #a8b3b8;
  border: 1px solid #3a3b3c;
}

.facebook-button button.dark:hover {
  background-color: transparent;
  color: #3a3b3c;
}

.facebook-button button.dark:active {
  background-color: #d8dade;
  border-color: #d8dade;
}

/*== Facebook Light Button styles ==*/
.facebook-button button.light {
  background-color: #f6f7f9;
  color: #4b4756;
  border: 1px solid #ced0d4;
}

.facebook-button button.light:hover {
  background-color: #e9ebee;
}

.facebook-button button.light:active {
  background-color: #d8dade;
  border-color: #d8dade;
}


/*==================
Twitter Button
================*/

/*== General Twitter Button styles ==*/
.twitter-button button {
  padding: 8px 45px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 30px;
}

/*== Twitter Main Button styles ==*/
.twitter-button button.main {
  background-color: #28a1f2;
  color: #fff;
  border: 1px solid #28a1f2;
}

.twitter-button button.main:hover {
  background-color: #2391DA;
}

.twitter-button button.main:active {
  background-color: #1d4698;
  border: none;
}

/* twitter Light Button styles */
.twitter-button button.light {
  background-color: #f6f7f9;
  color: #2391DA;
  border: 1px solid #2391DA;
}

.twitter-button button.light:hover {
  background-color: #E8F5FE;

}

.twitter-button button.light:active {
  background-color: #d8dade;
  border: none;
  border-radius: 30px;
}

/*==============
3D Buttons
================ */

/*== 3D Rectangle button ==*/

.three-d-rectangle {
	position: relative;
	background: hsl(250, 100%, 50%);
	color: #fff;
	font-size: 20px;
	padding: 10px 20px;
	box-shadow: -10px 10px 0 hsl(240, 100%, 30%);
	border: none;
	outline: none;
}

.three-d-rectangle:hover {
	background: hsl(240, 100%, 40%);
}

.three-d-rectangle:active {
	background: hsl(240, 100%, 30%);
	top: 5px;
	left: -5px;
	box-shadow: -5px 5px 0 hsl(240, 100%, 30%);
}

.three-d-rectangle::before {
	position: absolute;
	display: block;
	content: "";
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-right: 10px solid hsl(240, 100%, 30%);
	border-left-width: 0;
	top: 0;
	left: -10px;
}

.three-d-rectangle::after {
	position: absolute;
	display: block;
	content: "";
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-top: 10px solid hsl(240, 100%, 30%);
	border-bottom-width: 0;
	bottom: -10px;
	right: 0;
}

.three-d-rectangle:active::before {
	border: 5px solid transparent;
	border-right: 5px solid hsl(240, 100%, 30%);
	border-left-width: 0;
	left: -5px;
}

.three-d-rectangle:active::after {
	border: 5px solid transparent;
	border-top: 5px solid hsl(240, 100%, 30%);
	border-bottom-width: 0;
	bottom: -5px;
}

/*== 3D Circle Button ==*/
.three-d-circle {
	position: relative;
	background: #80a05e;
	background: radial-gradient(hsl(20, 100%, 50%), hsl(20, 100%, 40%));
	font-size: 24px;
	text-shadow: 0 -1px 0 #80b40e;
	color: #fff;
	border: 1px solid hsl(20, 100%, 20%);
	border-radius: 100%;
	height: 120px;
	width: 120px;
	z-index: 4;
	outline: none;
	box-shadow: inset 0 1px 0 hsl(20, 100%, 50%),
							0 2px 0 hsl(20, 100%, 20%),
							0 3px 0 hsl(20, 100%, 18%),
							0 4px 0 hsl(20, 100%, 16%),
							0 5px 0 hsl(20, 100%, 14%),
							0 6px 0 hsl(20, 100%, 12%),
							0 7px 0 hsl(20, 100%, 10%),
							0 8px 0 hsl(20, 100%, 8%),
							0 9px 0 hsl(20, 100%, 6%),
							0 10px 0 hsl(20, 100%, 4%);
}

.three-d-circle:hover {
	background: radial-gradient(hsl(20, 100%, 40%), hsl(20, 100%, 30%));
}

.three-d-circle:active {
	background: radial-gradient(hsl(20, 100%, 50%), hsl(20, 100%, 50%));
	top: 4px;
	box-shadow: inset 0 1px 0 hsl(20, 100%, 50%),
							0 2px 0 hsl(20, 100%, 20%),
							0 3px 0 hsl(20, 100%, 18%),
							0 4px 0 hsl(20, 100%, 16%),
							0 5px 0 hsl(20, 100%, 14%),
							0 6px 0 hsl(20, 100%, 12%);

}

/*== 3D Square Button ==*/
.three-d-square {
	position: relative;
	background: #80a05e;
	background: radial-gradient(hsl(90, 100%, 50%), hsl(90, 100%, 40%));
	font-size: 24px;
	text-shadow: 0 -1px 0 #80b40e;
	color: #fff;
	font-size: 20px;
	padding: 10px 20px;
	height: 150px;
	width: 150px;
	box-shadow: 20px 20px 0 hsl(90, 100%, 30%);
	border: none;
	outline: none;
}

.three-d-square:hover {
	background: hsl(90, 100%, 40%);
}

.three-d-square:active {
	background: hsl(90, 100%, 30%);
	top: 10px;
	left: 10px;
	box-shadow: 10px 10px 0 hsl(90, 100%, 30%);
}

.three-d-square::before {
	position: absolute;
	display: block;
	content: "";
	height: 0;
	width: 0;
	border: 20px solid transparent;
	border-left: 20px solid hsl(90, 100%, 30%);
	border-right-width: 0;
	top: 0;
	right: -20px;
}

.three-d-square::after {
	position: absolute;
	display: block;
	content: "";
	height: 0;
	width: 0;
	border: 20px solid transparent;
	border-top: 20px solid hsl(90, 100%, 30%);
	border-bottom-width: 0;
	bottom: -20px;
	left: 0;
}

.three-d-square:active::before {
	border: 10px solid transparent;
	border-left: 10px solid hsl(90, 100%, 30%);
	border-right-width: 0;
	right: -10px;
}

.three-d-square:active::after {
	border: 10px solid transparent;
	border-top: 10px solid hsl(90, 100%, 30%);
	border-bottom-width: 0;
	bottom: -10px;
}

/*===============
Bootstrap Button
=================*/

.btn {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	border-radius: 3px;
	padding: 6px 12px;
	text-align: center;
	border: 1px solid transparent;
	display: inline-block;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/*== Primary Button ==*/
.btn-primary {
	background-color: #007bff;
	color: #fff;
	border-color: #007bff;
}

.btn-primary:hover {
	background-color: #0069d9;
	color: #fff;
	border-color: #0062cc;
}

/*== Secondary Button ==*/
.btn-secondary {
	background-color: #6c757d;
	color: #fff;
	border-color: #6c757d;
}

.btn-secondary:hover {
	background-color: #5a6268;
	color: #fff;
	border-color: #545b62;
}

/*== Success Button ==*/
.btn-success {
	background-color: #28a745;
	color: #fff;
	border-color: #28a745;
}

.btn-success:hover {
	background-color: #218838;
	color: #fff;
	border-color: #1e7e34;
}

/*== Danger Button ==*/
.btn-danger {
	background-color: #dc3545;
	color: #fff;
	border-color: #dc3545;
}

.btn-danger:hover {
	background-color: #c82333;
	color: #fff;
	border-color: #bd2130;
}

/*== Warning Button ==*/
.btn-warning {
	background-color: #ffc107;
	color: #212529;
	border-color: #ffc107;
}

.btn-warning:hover {
	background-color: #e0a800;
	color: #212529;
	border-color: #d39e00;
}

/*== Info Button ==*/
.btn-info {
	background-color: #17a2b8;
	color: #fff;
	border-color: #17a2b8;
}

.btn-info:hover {
	background-color: #138496;
	color: #fff;
	border-color: #117a8b;
}

/*== Light Button ==*/
.btn-light {
	background-color: #f8f9fa;
	color: #212529;
	border-color: #f8f9fa;
}

.btn-light:hover {
	background-color: #e2e6ea;
	color: #212529;
	border-color: #dae0e5;
}

/*== Dark Button ==*/
.btn-dark {
	background-color: #343a40;
	color: #fff;
	border-color: #343a40;
}

.btn-dark:hover {
	background-color: #23272b;
	color: #fff;
	border-color: #1d2124;
}

/*===================
Material UI Button
=====================*/

.muibutton {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.75;
	text-transform: uppercase;
	padding: 6px 16px;
	min-width: 64px;
	border: 0;
	border-radius: 4px;
	box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
	box-sizing: border-box;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/*== Material UI Default ==*/
.muibutton.default {
	background-color: #e0e0e0;
	color: rgba(0, 0, 0, 0,87);
}

.muibutton.default:hover {
	background-color: #d5d5d5;
	box-shadow:  0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

/*== Material UI Primary ==*/
.muibutton.primary {
	background-color: #1976d2;
	color: #fff;
}

.muibutton.primary:hover {
	background-color: rgb(17, 82, 147);
	box-shadow:  0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

/*== Material UI Secondary ==*/
.muibutton.secondary {
	background-color: rgb(220, 0, 78);
	color: #fff;
}

.muibutton.secondary:hover {
	background-color: rgb(154, 0, 54);
	box-shadow:  0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

/*== Material UI Disabled ==*/
.muibutton.disabled {
	background-color: rgba(0, 0, 0, 0.12);
	color: rgba(0, 0, 0, 0.26);
	cursor: default;
	pointer-events: none;
}