* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

button {
	outline: none;
	cursor: pointer;
}

.wrapper {
  background-color: #121212;
  color: #eee;
  min-height: 100vh;
  text-align: center;
  padding: 40px 80px;
}

.page-title {
  padding: 40px;
  text-transform: uppercase;
  font-family: 'Satisfy', cursive;
  font-size: 30px;
  text-transform: capitalize;
}

section {
  background-color: #fff;
  color: #727272;
  width: 70%;
  margin: 20px auto;
  padding: 30px;
}

.section-title {
  padding-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: #34342a
}

/*=============
Facebook Button
===============*/

/* General Facebook Button styles */
.facebook-button button {
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 2px;
}

/*== Facebook Main Button styles ==*/
.facebook-button button.main {
  background-color: #1771E6;
  color: #fff;
  border: 1px solid #1771E6;
  box-shadow: inset 0 1px 0 0 #04070c;
  text-shadow: 0 1px 0 #3359a5;
}

.facebook-button button.main:hover {
  background-color: #2b54a7;
}

.facebook-button button.main:active {
  background-color: #1d4698;
}

/*== Facebook Dark Button styles ==*/
.facebook-button button.dark {
  background-color: #3a3b3c;
  color: #a8b3b8;
  border: 1px solid #3a3b3c;
}

.facebook-button button.dark:hover {
  background-color: transparent;
  color: #3a3b3c;
}

.facebook-button button.dark:active {
  background-color: #d8dade;
  border-color: #d8dade;
}

/*== Facebook Light Button styles ==*/
.facebook-button button.light {
  background-color: #f6f7f9;
  color: #4b4756;
  border: 1px solid #ced0d4;
}

.facebook-button button.light:hover {
  background-color: #e9ebee;
}

.facebook-button button.light:active {
  background-color: #d8dade;
  border-color: #d8dade;
}


/*==================
Twitter Button
================*/

/*== General Twitter Button styles ==*/
.twitter-button button {
  padding: 8px 45px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 30px;
}

/*== Twitter Main Button styles ==*/
.twitter-button button.main {
  background-color: #28a1f2;
  color: #fff;
  border: 1px solid #28a1f2;
}

.twitter-button button.main:hover {
  background-color: #2391DA;
}

.twitter-button button.main:active {
  background-color: #1d4698;
  border: none;
}

/* twitter Light Button styles */
.twitter-button button.light {
  background-color: #f6f7f9;
  color: #2391DA;
  border: 1px solid #2391DA;
}

.twitter-button button.light:hover {
  background-color: #E8F5FE;

}

.twitter-button button.light:active {
  background-color: #d8dade;
  border: none;
  border-radius: 30px;
}

/*==============
3D Buttons
================ */

/*== 3D Rectangle button ==*/

.three-d-rectangle {
	position: relative;
	background: hsl(250, 100%, 50%);
	color: #fff;
	font-size: 20px;
	padding: 10px 20px;
	box-shadow: -10px 10px 0 hsl(240, 100%, 30%);
	border: none;
	outline: none;
}

.three-d-rectangle:hover {
	background: hsl(240, 100%, 40%);
}

.three-d-rectangle:active {
	background: hsl(240, 100%, 30%);
	top: 5px;
	left: -5px;
	box-shadow: -5px 5px 0 hsl(240, 100%, 30%);
}

.three-d-rectangle::before {
	position: absolute;
	display: block;
	content: "";
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-right: 10px solid hsl(240, 100%, 30%);
	border-left-width: 0;
	top: 0;
	left: -10px;
}

.three-d-rectangle::after {
	position: absolute;
	display: block;
	content: "";
	height: 0;
	width: 0;
	border: 10px solid transparent;
	border-top: 10px solid hsl(240, 100%, 30%);
	border-bottom-width: 0;
	bottom: -10px;
	right: 0;
}

.three-d-rectangle:active::before {
	border: 5px solid transparent;
	border-right: 5px solid hsl(240, 100%, 30%);
	border-left-width: 0;
	left: -5px;
}

.three-d-rectangle:active::after {
	border: 5px solid transparent;
	border-top: 5px solid hsl(240, 100%, 30%);
	border-bottom-width: 0;
	bottom: -5px;
}

/*== 3D Circle Button ==*/
.three-d-circle {
	position: relative;
	background: #80a05e;
	background: radial-gradient(hsl(20, 100%, 50%), hsl(20, 100%, 40%));
	font-size: 24px;
	text-shadow: 0 -1px 0 #80b40e;
	color: #fff;
	border: 1px solid hsl(20, 100%, 20%);
	border-radius: 100%;
	height: 120px;
	width: 120px;
	z-index: 4;
	outline: none;
	box-shadow: inset 0 1px 0 hsl(20, 100%, 50%),
							0 2px 0 hsl(20, 100%, 20%),
							0 3px 0 hsl(20, 100%, 18%),
							0 4px 0 hsl(20, 100%, 16%),
							0 5px 0 hsl(20, 100%, 14%),
							0 6px 0 hsl(20, 100%, 12%),
							0 7px 0 hsl(20, 100%, 10%),
							0 8px 0 hsl(20, 100%, 8%),
							0 9px 0 hsl(20, 100%, 6%),
							0 10px 0 hsl(20, 100%, 4%);
}

.three-d-circle:hover {
	background: radial-gradient(hsl(20, 100%, 40%), hsl(20, 100%, 30%));
}

.three-d-circle:active {
	background: radial-gradient(hsl(20, 100%, 50%), hsl(20, 100%, 50%));
	top: 4px;
	box-shadow: inset 0 1px 0 hsl(20, 100%, 50%),
							0 2px 0 hsl(20, 100%, 20%),
							0 3px 0 hsl(20, 100%, 18%),
							0 4px 0 hsl(20, 100%, 16%),
							0 5px 0 hsl(20, 100%, 14%),
							0 6px 0 hsl(20, 100%, 12%);

}

/*== 3D Square Button ==*/
.three-d-sqaure {
	position: relative;
	background: #80a05e;
	background: radial-gradient(hsl(20, 100%, 50%), hsl(20, 100%, 40%));
	font-size: 24px;
	text-shadow: 0 -1px 0 #80b40e;
	color: #fff;
	font-size: 20px;
	padding: 10px 20px;
	height: 150px;
	width: 150px;
	box-shadow: 20px 20px 0 hsl(240, 100%, 30%);
	border: none;
	outline: none;
}

.three-d-sqaure:hover {
	background: radial-gradient(hsl(20, 100%, 40%), hsl(20, 100%, 30%));
}

.three-d-sqaure:active {
	background: radial-gradient(hsl(20, 100%, 50%), hsl(20, 100%, 50%));
	top: 4px;
	box-shadow: inset 0 1px 0 hsl(20, 100%, 50%),
							0 2px 0 hsl(20, 100%, 20%),
							0 3px 0 hsl(20, 100%, 18%),
							0 4px 0 hsl(20, 100%, 16%),
							0 5px 0 hsl(20, 100%, 14%),
							0 6px 0 hsl(20, 100%, 12%);

}
